<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анализ комментариев под видео на YouTube</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

   <section class="container-fluid h-100">
       <div class="row h-100 bg-info justify-content-center align-items-center">
            {% block content %}
            {% endblock content %}
       </div>
   </section>

<style>
    html,body {
        height: 100%;
    }
</style>
</body>
</html>